<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body bgcolor="#81DAF5">
			<table>
  				<tr>
      					<td>
         					<image rowspan="3" src="anaskew29.github.io/Publications/NickiHoldingAKangaroo1.jpg" alt="hi" class="inline" style="width:200px;height:201px;"/>
      					
					</td>
     					<td align="left">
            					<h1>{{ page.title }}</h1>
      					</td>
  				</tr>
			<tr>
			<td valign="top">
				<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
				<div class="dropdown">
  					<button class="dropbtn">Dropdown</button>
  					<div class="dropdown-content">
   						<a href="#">Link 1</a>
    						<a href="#">Link 2</a>
    						<a href="#">Link 3</a>
  					</div>
				</div>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
				<ul>
	        		<li><a href="mailto:ana1003@jagmail.southalabama.edu">email</a></li>
	        		<li><a href="https://github.com/anaskew29">github.com/anaskew29</a></li>
				</ul>
			</nav>
				</td>
			<div class="container">
			<td>
			{{ content }}
				</td>
			</div><!-- /.container -->
				</tr>
			</table>  
			<footer>
	    		
			</footer>
		</body>
	</html>
